version: 2.1

orbs:
  architect: giantswarm/architect@6.6.1

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          name: push-to-control-plane-catalog
          context: architect
          executor: app-build-suite
          chart: cluster-api-provider-vsphere
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          filters:
            branches:
              ignore:
                - main
                - master
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-vsphere-app-collection
          context: architect
          app_name: cluster-api-provider-vsphere
          app_collection_repo: vsphere-app-collection
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-vsphere-addons-app-collection
          context: architect
          app_name: cluster-api-provider-vsphere
          app_collection_repo: vsphere-addons-app-collection
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

#      - architect/push-to-app-collection:
#          name: push-to-vsphere-aws-addons-app-collection
#          context: architect
#          app_name: cluster-api-provider-vsphere
#          app_collection_repo: vsphere-aws-addons-app-collection
#          requires:
#            - push-to-control-plane-catalog
#          filters:
#            branches:
#              ignore: /.*/
#            tags:
#              only: /^v.*/
